.row {
  margin-top: 20px;
}

.col {
  padding: 10px;
}



.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html {
	scroll-behavior: smooth;
}


.cap-1 {
	color: white; /*#687C7D*/
}

.cap-2 {
	color: black;
}
.cap-3 {
	color: #687C7D;
}